body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin-top: 0px;
    position: relative;
    top: 15px;
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin-top: 30px;

}
.skill-row {
    width: 50% ;
    margin:0 auto 100px auto;
    text-align: left;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.x {
    color: #66BFBF;
    position: absolute;
    top: 190px;
    left:530px;
    font-size: 1.8rem;
    font-weight: normal;
}

.top-class {
    background-color: #E4F9F5;
    height: 550px;
    position: relative;
}

.mountain {
    position: absolute;
    right: 290px;
    bottom: 0;
}

.top-cloud {
    position: relative;
    left: 330px;
    top: 80px;
    

}

.bottom-cloud {
    position: relative;
    right: 260px;
    top: 100px;
}

.com-img{
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.dev-img {
    width: 25%;
    float: right;
    margin-left: 25px;
    margin-top: 25px;
}

.mango {
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}

hr {
    border-style: dotted #EAF6F6 6px;
   
}
.vs-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    /* border-color:  */
    border-style: solid;
    border-width: 2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 25px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    margin-top: 60px;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover{
    color: #EAF6F6;
}

@media (max-width : 1180px) and (min-width : 750px){
    .x {
        position: absolute;
        
        top: 200px;
    }
    .mountain {
        position: absolute;
        height: 60%;
        left: 155px;
    }
}
@media (max-width : 749px) and (min-width : 610px)
{
    .mountain{
        position: absolute;
        height: 45%;
        left: 90px;
    }
    .x {
        position:static;
        /* right:130px;
        font-size: 20px;
        /* bottom: 25px; */
        font-size: 20px;
        
        
    }
    .xyz {
        font-size: 52px;
    }
    .top-cloud{
        position: static;
    }
    .bottom-container{
        padding-right: 40px;
    }
    .contact-me {
        padding-right: 50px;
    }
    .profile {
        padding-right: 45px;
    }
    .skills {
        padding-right: 30px;
    }
}

@media (max-width:600px) {
    .xyz{
        font-size: 50px;
    }
    .x{
        position: static;
        font-size: 20px;
    }
    .mountain {
        position: absolute;
        height: 40%;
        left: 100px;
    }
    .top-class {
        height: 400px;
    }
    .bottom-cloud {
        position: relative;
        right: 30px;
    }

}